version: "3.8"

services:
  app:
    build: .
    container_name: app
    command: sh -c "cd app && uvicorn main:app --reload --host 0.0.0.0 --port 80"
    volumes:
      - ./app/:/code/app
    ports:
      - 8001:80
    env_file:
      - ./.dev.env
# volumes:
#   postgres_volume:
