version: "3.8"

services:
  app:
    build: .
    container_name: app
    command: sh -c "uvicorn app.main:app --reload --host 0.0.0.0 --port 80"
    restart: unless-stopped
    volumes:
      - ./app/:/code/app
    ports:
      - 8000:80
    env_file:
      - ./.env
    depends_on:
      - contact_level_db

  contact_level_db:
    image: postgres
    container_name: contact_level_db
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: contact_level
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  worker:
    build: .
    container_name: worker
    command: ./app/worker.sh
    env_file:
      - ./.env
    depends_on:
      - rabbitmq

  rabbitmq:
    container_name: rabbitmq
    image: "rabbitmq:3.10.5"
