<div class="success_leads_amount_for_contact">
    <span>Кол-во месяцев:</span>
    {{ include_control('input', {
        class_name: 'widget_custom_class_name',
        name: 'widget_input',
        placeholder: 'Кол-во месяцев',
        value: 'Сохраненное значение'
    }) }}
</div>