<div id="contact-level">
    <div id="buttons">
        <button id="contact-button" data-content-selector="#contact-tab" class="active">Кол-во сделок у контакта</button>
        <button id="status-button" data-content-selector="#status-tab">Статус клиента</button>
        <button id="company-button" data-content-selector="#company-tab">Сумма оплат компании</button>
    </div>
    <hr>
    <div id="tabs">
        <div id="contact-tab" class="active" data-content-tab>
        </div>
        <div id="status-tab" data-content-tab>
        </div>
        <div id="company-tab" data-content-tab>
        </div>
    </div>
</div>
