<div>
<table>
    <thead>
        <tr>
            <td>Статус</td>
            <td>Тип зависимости</td>
            <td>Тип сущности</td>
            <td>Поле</td>
            <td>Правило</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="status-tbody">
        
    </tbody>
</table>
<div id="status-tab-buttons">
    <button id="addRow">Добавить значение</button>
    <button id="save">Сохранить</button>
</div>
</div>