[data-content-tab] {
  display: none;
}
#work_area {
  background-color: white;
  padding-bottom: 1rem;
}

#buttons button {
  border: 0;
  background-color: white;
  margin-right: 1rem;
  cursor: pointer;
}
#buttons button.active {
  font-weight: bold;
}

#buttons button.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 5px;
  background-color: #4b79bb;
}

hr {
  padding: 1px 0px;
  background-color: #e0e0e0;
  margin: 1rem 0;
  border: none;
}

.loading-icon {
  display: block;
  height: 40px;
  width: 40px;
  margin: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/loading.png");
  animation: spin 1.5s linear infinite;
  transform: rotate(180deg);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#contact-tab-buttons button,
#company-tab-buttons button {
  padding: 1rem;
  border-radius: 4px;
  /* width: 11rem; */
  height: 30px;
  margin-top: 1rem;
  margin-left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#contact-tab-buttons button:active,
#company-tab-buttons button:active {
  transform: scale(0.9);
}

#runCheck {
  background-color: #c4c4c4;
  /* width: 11.5rem; */
}
#runCheck:disabled {
  pointer-events: none;
}

#save {
  background-color: #4b79bb;
  /* width: 6rem; */
  color: white;
}
#save:active {
  background-color: #295799;
}

#save.saved {
  background-color: #26b04f;
}

#save:disabled {
  background-color: #7eacee !important;
  pointer-events: none;
}
